# Git Ignore configuration for the Repository

# Directory matching with ending /
.buildpath/
.idea/
.project/
.sass-cache/
.settings/
.DS_Store/
_site/
node_modules/
target/
tests/code_coverage/

# File matching
*.iml
*.scssc
*.swo
*.swp
dev-configs/*config.json
npm-debug.log
tmp-*
.jekyll-metadata

# Negation matching with starting !
!dev-configs/default*
